Repository HipsterDave/The-Legend-of-Talera, pull requests merged in 2021-01, with the labels that each got.

#27 Worked on README, because it is outdated.
  README.md
Labels: readme

#28 updated readme and other stuff
  README.md
  __pycache__/city.cpython-38.pyc
  __pycache__/functions.cpython-38.pyc
  __pycache__/game.cpython-38.pyc
  __pycache__/levels.cpython-38.pyc
  __pycache__/text.cpython-38.pyc
  game.py
  levels.py
  text.py
Labels: improved existing, readme

#29 finished mountains level
  __pycache__/city.cpython-38.pyc
  __pycache__/game.cpython-38.pyc
  __pycache__/levels.cpython-38.pyc
  city.py
  game.py
  levels.py
Labels: added feature, needs reviewers, story

#30 Gk/small updates
  README.md
  __pycache__/city.cpython-38.pyc
  __pycache__/game.cpython-38.pyc
  __pycache__/levels.cpython-38.pyc
  __pycache__/text.cpython-38.pyc
  city.py
  legend_of_talera.png
  text.py
Labels: improved existing, readme

#35 Finished temple level and made a few changes and additions to other files.
  city.py
  functions.py
  game.py
  levels.py
  main.py
  text.py
Labels: added feature, bulletin board, help wanted, improved existing, needs reviewers, story

#36 updated readme
  README.md
Labels: readme

#37 updated readme
  README.md
Labels: readme
